*{
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: auto;
}

.center{
    text-align: center;
}

.core{
    background-color: #ececec;
    margin-bottom: 2px;
}

input{
    width: 400px;
    height: 30px;
    border: solid 1px black;
    margin: 1px;
}

#updates{
    width: 200px;
}

button{
    width: 120px;
    height: 25px;
    margin: 1px;
}

.footer{
    margin-bottom: 30px;
}

.box1, .box2, .box3{
    width: 33.2%;
    height: 100px;
    margin-right: 0.1%;
    background-color: #a5c8b2;
    float: left;
}

a{
    color: blue;
}